<!-- <mat-toolbar color="primary" class="mb-4">
    <button mat-icon-button aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
        <i class="fal fa-bars"></i>
    </button>
    <div class="d-none d-md-block">
        <span> Home</span>
        <span> Favorites</span>
    </div>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <p>Auto-resizing sidenav</p>
    </mat-drawer>
</mat-drawer-container> -->
<div class="d-flex flex-column" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary">
        <button class="d-md-none" mat-icon-button (click)="snav.toggle()">
            <i class="fal fa-bars"></i>
        </button>
        <h1>Responsive App</h1>
    </mat-toolbar>

    <mat-sidenav-container class="flex-1" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-nav-list>
                <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <p *ngFor="let content of fillerContent">{{content}}</p>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>