mat-card {

  width: 400px;
  margin: 15px;
}

mat-card:hover {
  box-shadow: 3px 3px 16px -2px rgba(0, 0, 0, 0.5) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 60px;
  min-width: 60px;
}

mat-card-content {
  margin: 15px 0 0;
}

span {
  font-size: 13px;
}

mat-card-footer {
  padding: 0 25px 25px;
}
mat-card-title{
font-size: 1rem
;}