// Import material theming functions
@import "~@angular/material/theming";

// base Colors
$text-color: #333;
$text-secondary: #67768c;
$success-color: #4caf50;
$fresh-primary: #b4dff2;

// salone colors
$books-green: #87bd79;
$books-midnight-blue: #202633;
$books-blue: #425d8c;
$books-light-blue: #6a82ad;
$books-red: #e33829;
$books-red-lighten: #e85548;
$books-yellow: #fdbe4a;
$books-yellow-light: #e6c003;
$books-yellow-light-v: #f4dc7c;
$books-dark-gray: #78839c;
$books-gray: #c5cfd6;
$books-light-gray: #c5cfd6;
$books-white: #f2f6fa;

$primary: $books-green;
$accent: $books-blue;

// salone theme
$books-primary-palette: (
  50: #f1f7ef,
  100: #dbebd7,
  200: #c3debc,
  300: #abd1a1,
  400: #99c78d,
  500: #87bd79,
  600: #7fb771,
  700: #74ae66,
  800: #6aa65c,
  900: #579849,
  A100: #f6fff4,
  A200: #cbffc1,
  A400: #a1ff8e,
  A700: #8cff74,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  ),
);

$books-accent-palette: (
  50: #e8ecf1,
  100: #c6cedd,
  200: #a1aec6,
  300: #7b8eaf,
  400: #5e759d,
  500: #425d8c,
  600: #3c5584,
  700: #334b79,
  800: #2b416f,
  900: #1d305c,
  A100: #9bb6ff,
  A200: #6891ff,
  A400: #356cff,
  A700: #1c5aff,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  ),
);

$books-warn-palette: (
  50: #fce7e5,
  100: #f7c3bf,
  200: #f19c94,
  300: #eb7469,
  400: #e75649,
  500: #e33829,
  600: #e03224,
  700: #dc2b1f,
  800: #d82419,
  900: #d0170f,
  A100: #fffdfd,
  A200: #ffccca,
  A400: #ff9a97,
  A700: #ff827e,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  ),
);

$theme-primary: mat-palette($books-primary-palette);
$theme-accent: mat-palette($books-accent-palette);
$theme-warn: mat-palette($books-warn-palette);

$primary-color: mat-color($theme-primary);
$accent-color: mat-color($theme-accent);
$warn-color: mat-color($theme-warn);

// Fonts
$font-primary: "BPG DejaVu Sans";
