// width height
.w-100 {
  width: 100%;
}

.w-min-auto {
  min-width: auto !important;
}

.h-100 {
  height: 100%;
}

// divider
.mat-divider {
  position: relative !important;
}

// links
a {
  text-decoration: none;
  color: $accent-color;
  &:hover {
    color: darken($accent-color, 10%);
  }
}

// error text
.s-error-text {
  font-size: 12px;
}

.warn-color {
  color: $warn-color;
  cursor: pointer;
}

// light scroll
.light-scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.light-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.light-scroll::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

// content-scroll
.content-scroll, .mat-drawer-inner-container {
  &.scroll-y {
    overflow-y: auto !important;
  }
  &.scroll-x {
    overflow-x: auto !important;
  }
  &::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: lighten($salone-green, 10%);
  }
}

// word break
.word-break-all {
  word-break: break-all !important;
}

// go back
.go-back-button {
  color: #67768c;
  display: inline-block;
  width: 14px;
}

// tabs
.mat-tab-link,
.mat-tab-label {
  opacity: 0.7 !important;
}

// button spinner
.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: rgba(#f4f4f4, 0.7);
}

.button-container {
  display: block;
  position: relative;
}

.mat-menu-spinner-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

// close icon
.close-icon {
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    color: $warn-color;
  }
}

// dialog
.mat-dialog-content {
  font-size: 0.97rem;
  line-height: 1.3;
}

// mat menu
.mat-menu-content {
  position: relative;
}

.mat-menu-content {
  height: 100%;
}
.mat-menu-item.active {
  background: rgba(0, 0, 0, 0.06);
}

.max-width-none,
.mat-menu-panel {
  max-width: none !important;
}

// line pre
.line-pre {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

// table status indicator
.table-status-indicator {
  font-size: 1.1rem;
  &.fa-check {
    color: $salone-green;
  }
  &.fa-times {
    color: $salone-red;
  }
}

// side nav end
.sne-top-panel {
  font-size: 17px;
  color: #273348;
  i {
    cursor: pointer;
    &:hover {
      color: $warn-color;
    }
  }
}

// chips
.filter-chip {
  i {
      color: lighten($salone-red, 15%);
      font-size: 1.1rem;
      cursor: pointer;
  }
}
