.mat-bottom-sheet-container {
    min-width: 100vw !important;
    border-radius: 0px;
    text-align: center;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1) !important;
}

.bottom-sheet-dismisser{
    position: absolute !important;
    right: 0px;
    margin: 0px 5px !important;
}