// alignment
.text-uppercase {
  text-transform: capitalize;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

// colors
.text-white {
  color: #fff !important;
}

.text-primary {
  color: $primary-color;
}

.text-accent {
  color: $accent-color;
}

.text-secondary {
  color: $text-secondary;
}

.text-warn {
  color: $warn-color;
}

.text-success {
  color: $success-color;
}
